server {

	server_name {{ nginx.server_name }};
	root /var/www/icar-one-codebase/public;

	index index.html index.htm index.php;

	autoindex on;
	sendfile off;

	# Enable Gzip Start
	gzip  on;
	gzip_http_version 1.0;
	gzip_comp_level 2;
	gzip_min_length 1100;
	gzip_buffers     4 8k;
	gzip_proxied any;
	gzip_types
		text/css
		text/javascript
		text/xml
		text/plain
		text/x-component
		application/javascript
		application/x-javascript
		application/json
		application/xml
		application/rss+xml
		font/truetype
		font/opentype
		application/vnd.ms-fontobject
		image/svg+xml;

	gzip_static on;

	gzip_proxied        expired no-cache no-store private auth;
	gzip_disable        "MSIE [1-6]\.";
	gzip_vary           on;
	# Enable Gzip end

	location / {
		try_files $uri $uri/ /index.php?$args;
	}

	location ~ \.php$ {
		fastcgi_split_path_info ^(.+\.php)(/.+)$;
		fastcgi_pass unix:/var/run/php/php7.0-fpm.sock;
		# fastcgi_index index.php;
		include fastcgi_params;

		fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
		fastcgi_param  PATH_INFO        $fastcgi_path_info;
		fastcgi_param  YII_ENVIRONMENT 	LOCAL;
		fastcgi_param  COUNTRY 			{{ nginx.country }};
		fastcgi_param  THEME 			{{ nginx.theme }};

		fastcgi_read_timeout 3600;
	}

    location ~* \.(?:ico|gif|jpe?g|png)$ {
        expires 100d;
        add_header Pragma public;
        add_header Cache-Control "public";
    }

    # Add rule to ignore timestamp
    location ~ \.(js|css)$ {
        expires 100d;
        add_header Pragma public;
        add_header Cache-Control "public";

        rewrite "(.+).[0-9]{10}.(css|js)" $1.$2 break;
    }

    location ~ /\.ht {
        deny  all;
    }

    location ~ ^/(protected|yii2) {
        deny  all;
    }
}